@{ Layout = "_Layout";
    var locker = "";
    string link = "";
    var widSize = 100; }
@model IEnumerable<Box>
<link rel="stylesheet" href="~/css/time-modal.css" />
<div class="text-center">
    <div class="display-4">Locker</div><br><br>
    <h6></h6>
    <form method="get" action="/home/searchdate">
        <div class="row">
            <div class="col-2">
            </div>

            <div class="col-5">
                <input class="form-control" id="datetime" max="@ViewBag.addDays" min="@ViewBag.today" name="date" type="date" value="">
            </div>
            <div class="col-2">
                <input type="submit" value="search" class="btn btn-success" />
            </div>
        </div>
    </form>


    <div class="row mb-3 mt-3">
        <div class="col-12">
            <div class="row">
                @foreach (var i in Model)
                {
                    @if (i.Boxstatus == 0)
                    {
                        locker = "locker_empty.png";
                        link = "/booking/Reserve?id=" + @i.Boxid;
                    }
                    else if (i.Boxstatus == 1)
                    {
                        locker = "locker_between.png";
                        link = "/booking?id=" + @i.Boxid;
                    }
                    else
                    {
                        locker = "locker_busy.png";
                        link = "/booking?id=" + @i.Boxid;

                    }
                    <div class="col-md-4 col-6">
                        <p>@i.Boxid</p>
                        <button type="button" id="@i.Boxid" class="btn" data-toggle="modal" data-target="#exampleModal" style="width:60%">
                            <img src="~/images/@locker" width="@widSize%" />
                        </button>
                        <a href="@link"></a><br /><br /><br /><br />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-time">
                    <div class="timings">
                        <div> <span> 9:00 </span> AM </div>
                        <div> 9:30 </div>
                        <div> <span> 10:00 </span>AM </div>
                        <div> 10:30 </div>
                        <div> <span> 11:00 </span>AM </div>
                        <div> 11:30 </div>
                        <div> <span> 12:00 </span>PM </div>
                        <div> 12:30 </div>
                        <div> <span> 1:00 </span>PM </div>
                        <div> 1:30 </div>
                        <div> <span> 2:00 </span>PM </div>
                        <div> 2:30 </div>
                        <div> <span> 3:00 </span>PM </div>
                        <div> 3:30 </div>
                        <div> <span> 4:00 </span>PM </div>
                        <div> 4:30 </div>
                        <div> <span> 5:00 </span>PM </div>
                        <div> 5:30 </div>
                        <div> <span> 6:00 </span>PM </div>
                        <div> 6:30 </div>
                        <div> <span> 7:00 </span>PM </div>
                        <div> 7:30 </div>
                        <div> <span> 8:00 </span>PM </div>
                        <div> 8:30 </div>
                        <div> <span> 9:00 </span>PM </div>
                    </div>

                    <div class="days" id="events">
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>
<script src="~/js/script.js"></script>

