@{
    Layout = "_Layout";
}
@model IEnumerable<locker.Models.showclass>
    <link rel="stylesheet" href="~/css/myCss.css">
    <div class="d-flex justify-content-center">
        <div class="card mt-4" style="width: 20rem;background-color:darkgoldenrod">

            <div class="card-body" style="background-color:orange">
                <h5 class="card-title">Hello! @TempData["username"] </h5>
                <p class="card-text">Detail your box's reservation</p>
                <p class="card-text">Locker number : @ViewBag.Boxid</p>
            </div>
            
            @foreach (var i in Model)
            {
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">booking start : @i.Bookingstart</li>
                    <li class="list-group-item">booking end : @i.BookingEnd</li>
                        <li class="list-group-item">
                            status :
                            <input type="checkbox" id="myCheck" class="checkbox" />
                            <label for="myCheck" class="toggle" id="label"> </label>
                        </li>
                    <li class="list-group-item"><button class="ml-3 btn btn-outline-danger" id="cancel">Cancel</button></li>
                </ul>
            }
        </div>
    </div>
    <script>
        var label = document.getElementById("label");
        var button = document.getElementById("myCheck");
        button.checked=@ViewBag.setCheckbox;
        if (@ViewData["canUse"]) {
            button.disabled = true;
            label.style.background = "gray";
        }
        var url1 = "https://10.153.139.170:5004"
        var url2 = "https://localhost:44369"
        button.addEventListener('click', e => {
            $.get(url1+"/manage/get", function (value, status) {
                $.ajax({
                    url: "/home/authLocker/" + @ViewBag.Boxid,
                    type: 'PUT',
                    data: "value=" + value[0]
                })
                $.post("http://10.153.33.148/on_off.php", { pin:@ViewBag.pinBox, num: value[1] });
            });
        })
        var cancel = document.getElementById("cancel");
        cancel.addEventListener('click', e => {
            var result = confirm("Are you sure?\nYou will cancel this box");
            if (result == true) {
                enter = true;
            } else {
                enter = false;
            }
            if (enter) {
                $.ajax({
                    url: "/home/delete/" + @ViewBag.Boxid,
                    type: 'DELETE',
                    success: function (data) {
                        console.log("delete success")
                        window.location.href = "/home";

                    }
                });
            }

        })

    </script>
